@if (!string.IsNullOrEmpty(ViewData["Mensaje"] as string))
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Mensaje"]
    </div>
}

<form asp-action="Registro" method="post">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="correo">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
    <input type="hidden" value="1" name="rol" />
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
