@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,636;1,636&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
    margin-bottom: 60px;
    background-color: #131316;
    border: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

    a:hover * {
        color: whitesmoke;
        filter: brightness(0.95);
    }

.agotado {
    filter: saturate(0) brightness(0.4);
}

    .agotado:hover {
        filter: saturate(0) brightness(0.35);
    }

.filtros, .card {
    background-color: #1C1C21;
    color: whitesmoke;
    border-radius: 7px; /* Ajusta el valor según lo redondeado que desees los bordes */
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5); /* Ajusta los valores según el tamaño y color de la sombra */
}

.card {
    border-radius: 7px;
    overflow: hidden;
}

    .card img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 7px;
        object-fit: cover;
        -webkit-mask-image: linear-gradient(to top, transparent 1%, black 50%);
        Para navegadores WebKit mask-image: linear-gradient(to top, transparent 1%, black 50%);
        Para otros navegadores
    }

/* Ocultar los radios */
.rating input[type="radio"] {
    display: none;
}

/* Usar flexbox para invertir el orden de las estrellas */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

    /* Estilos para las estrellas */
    .rating label {
        font-size: 2em;
        color: #ccc;
        cursor: pointer;
    }

        .rating label:hover,
        .rating label:hover ~ label,
        .rating input[type="radio"]:checked ~ label {
            color: orange;
        }
