@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@560&family=Space+Grotesk:wght@300..700&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    color: whitesmoke;
    /*    font-weight: <weight>;*/
    font-style: normal;
    margin-bottom: 60px;
    background-color: #131316;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

    a:hover * {
        color: whitesmoke;
        filter: brightness(0.95);
    }

.agotado {
    filter: saturate(0) brightness(0.4);
}

    .agotado:hover {
        filter: saturate(0) brightness(0.35);
    }

.filtros, .card {
    background-color: #1C1C21;
    color: whitesmoke;
    border: none;
    border-radius: 7px; /* Ajusta el valor según lo redondeado que desees los bordes */
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5); /* Ajusta los valores según el tamaño y color de la sombra */
}

.card {
    border-radius: 7px;
    overflow: hidden;
}

    .card img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 7px;
        object-fit: cover;
        -webkit-mask-image: linear-gradient(to top, transparent 1%, black 50%);
        Para navegadores WebKit mask-image: linear-gradient(to top, transparent 1%, black 50%);
        Para otros navegadores
    }
